body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px calc(110px + var(--scrollbar-compensation));
}

.logo img {
  height: 30px; 
  width: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 22px;
  transition: 0.2s color;
}

.navbar a:hover {
  color: rgb(161, 118, 211);
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}


/* LOGIN */ 
:root {
  --scrollbar-compensation: 0px;
}

@media (max-height: 100vh) {
  :root {
      --scrollbar-compensation: 17px;
  }
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  
  .login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .login__header img {
    width: 250px;
  }
  
  
  
  .login__header h1 {
    color: #333;
    font-size: 1.5em;
  }
  
  .login__input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
  }
  
  .login__button {
    background-color: #371a46;
    border: 3px solid #16061f;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 15px;
    width: 100%;
  }
  
  .login__button:disabled {
    background-color: #eee;
    border: 2px solid #969595;
    color: #aaa;
    cursor: auto;
  }